<div class="container">
  <h2>Product List</h2>
  <div *ngIf="products$ | async as products; else loading">
    <div class="product" *ngFor="let product of products">
      <img [src]="product.imageUrl" alt="{{product.name}}">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Price: {{ product.price | currency }}</p>
      <button (click)="addToCart(product)" class="btn btn-success">Add to Cart</button>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading products...</p>
  </ng-template>
</div>
